[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/music/app/GerlovinMusic
ExecStart=/home/music/app/env/bin/gunicorn --workers 3 --bind unix:/run/gunicorn.sock GerlovinMusic.wsgi:application --access-logfile /home/music/app/gunicorn/access.log --error-logfile /home/music/app/gunicorn/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
